@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

.website-title {
  font-family: 'Dela Gothic One', cursive;
  color: #FC9F5B !important;
}
.padding-left-menu {
  padding-left: 250px;
}

.navbar-fixed {
  position: fixed;
  width: 100%;
  z-index: 999999;
}
